Source: libslp-calendar
Section: devel
Priority: extra
Maintainer: Youngjae Shin <yj99.shin@samsung.com> , Sunghyuk Lee <sunghyuk.lee@samsung.com>, Jeesun Kim <iamjs.kim@samsung.com>
Build-Depends: debhelper (>= 5), libslp-db-util-dev, libsqlite3-dev, libglib2.0-dev, dlog-dev, libvconf-dev, libvconf-keys-dev, libalarm-dev, libicu-dev, libappsvc-dev
Standards-Version: 3.7.2

Package: libslp-calendar-dev
Section: devel
Architecture: any
Depends: libslp-calendar-0 (= ${Source-Version}), libglib2.0-dev, libalarm-dev
Description: calendar service Library (development)

Package: libslp-calendar-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: calendar service Library (Library)

Package: libslp-calendar-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libslp-calendar-0 (= ${Source-Version})
Description: calendar service Library (unstripped)

