[Unit]
Description=Calendar Service socket

[Socket]
ListenStream=/tmp/.cal_svc_ipc
SmackLabelIPIn=calendar-service
SmackLabelIPOut=calendar-service
Service=calendar-serviced.service

[Install]
WantedBy=sockets.target
