[Unit]
Description=Calendar Service daemon

[Service]
Type=dbus
BusName=org.tizen.CalendarService.dbus
Environment="TIMEOUT=0"
ExecStart=/usr/bin/calendar-serviced $TIMEOUT
