[Unit]
Description=Calendar Service daemon
After=contacts-service.service
Requires=contacts-service.service

[Service]
Type=simple
ExecStart=/usr/bin/calendar-serviced
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
