[Unit]
Description=Calendar Service socket

[Socket]
ListenStream=/tmp/.cal_svc_ipc
Service=calendar-serviced.service

[Install]
WantedBy=sockets.target
